<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/css/custom.css}" crossorigin="anonymous" />
    <title>Utwórz ogłoszenie</title>
</head>
<body>
<nav class="navbar navbar-dark bg-success">
    <a class="navbar-brand">Terapia</a>
    <a th:href="@{/logout}" class="btn btn-success btn-outline-light text-light bg-success">Wyloguj</a>
</nav>
<div class="card w-50 mt-3 mb-5 mx-auto">
    <form class="card-body" th:action="@{/create}" th:object="${details}" method="post">
        <div class="col">
            <h5 class="card-title mb-4">Dodaj ogłoszenie</h5>
            <div class="row mb-3">
                <div class="input-group col pr-0">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Imię</span>
                    </div>
                    <input type="text" class="form-control" th:field="*{name}" placeholder="Twoje imię (pole wymagane)" aria-label="Imię">
                </div>
                <div class="input-group col pl-0">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Nazwisko</span>
                    </div>
                    <input type="text" class="form-control" th:field="*{surname}"
                           placeholder="Twoje nazwisko (pole wymagane)" aria-label="Nazwisko">
                </div>
            </div>
            <div class="row mb-3 mt-n3" th:if="${#fields.hasErrors('name') || #fields.hasErrors('surname')}">
                <div class="input-group col pr-0">
                    <span th:if="${#fields.hasErrors('name')}" class="input-group-text text-danger">Musisz podać imię</span>
                </div>
                <div class="input-group col pl-0"  th:if="${#fields.hasErrors('surname')}">
                    <span class="input-group-text text-danger">Musisz podać nazwisko</span>
                </div>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Adres</span>
                </div>
                <input type="text" class="form-control" th:field="*{address}"
                       placeholder="Adres gabinetu (pole wymagane)" aria-label="Adres gabinetu">
            </div>
            <div class="input-group mb-3 mt-n3" th:if="${#fields.hasErrors('address')}">
                <span class="input-group-text text-danger">Musisz podać adres gabinetu</span>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Zdjęcie</span>
                </div>
                <input id="photo" type="file" class="input-group-text flex-grow-1 text-left">
                <div class="input-group-append">
                    <button class="btn btn-secondary" type="button">Prześlij</button>
                </div>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Telefon</span>
                </div>
                <input type="text" class="form-control" placeholder="Numer Twojego telefonu" aria-label="Numer telefonu">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Email</span>
                </div>
                <input type="text" class="form-control" placeholder="Twój adres email" aria-label="Adres email">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Nazwa ośrodka</span>
                </div>
                <input type="text" class="form-control" placeholder="Jeśli pracujesz w ośrodku terapeutycznym, podaj jego nazwę" aria-label="Ośrodek terapeutyczny">
            </div>
            <div class="input-group">
                <span class="input-group-text w-100 justify-content-center ">Cennik</span>
            </div>
            <div id="pricing">
                <div class="row pricingRow">
                    <div class="input-group col pr-0" style="flex-grow: 7">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Usługa</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Usługa, np. pierwsza wizyta, sesja dla par" aria-label="Usługa">
                    </div>
                    <div class="input-group col pl-0 pr-0" style="flex-grow: 6">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Cena</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Cena" aria-label="Cena">
                        <div class="input-group-append">
                            <span class="input-group-text">zł</span>
                        </div>
                    </div>
                    <div class="input-group col pl-0">
                        <button id="removePrice" type="button" class="btn btn-danger input-group-text removeBtn">Usuń</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <button id="addNextPrice" type="button" class="btn btn-secondary ml-auto mr-3 mb-3">Dodaj kolejną pozycję</button>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Opis terapii</span>
                </div>
                <textarea class="form-control" aria-label="Opis terapii" placeholder="Informacje o Tobie i prowadzonej terapii, np. wykształcenie, doświadczenie, przebieg typowej sesji terapeutycznej"></textarea>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Nurt psychoterapeutyczny</span>
                </div>
                <input type="text" class="form-control" placeholder="Nurt w jakim prowadzisz psychoterapię, np. psychodynamiczny, behawioralny" aria-label="Nurt psychoterapeutyczny">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Szkolenia i certyfikaty</span>
                </div>
                <textarea class="form-control" placeholder="Informacja o przebytych szkoleniach i posiadanych certyfikatach" aria-label="Nurt psychoterapii"></textarea>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Zaznacz, jeśli regularnie korzystasz z superwizji</span>
                </div>
                <div class="input-group-text">
                    <input type="checkbox" aria-label="Superwizja">
                </div>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Zaznacz, jeśli prowadzisz sesje terapeutyczne online</span>
                </div>
                <div class="input-group-text">
                    <input type="checkbox" aria-label="Szkolenia online">
                </div>
            </div>
            <div class="row mx-auto">
                <a th:href="@{/}" type="button" class="btn btn-secondary">Anuluj</a>
                <button type="submit" class="btn btn-success ml-auto">Dodaj ogłoszenie</button>
            </div>
        </div>
    </form>
</div>
<script th:src="@{/js/jquery-3.5.1.slim.min.js}" crossorigin="anonymous"></script>
<script>
    $("#addNextPrice" ).click(function() {
        $('#pricing').append('<div class="row pricingRow"><div class="input-group col pr-0" style="flex-grow: 7"><div class="input-group-prepend"><span class="input-group-text">Usługa</span></div> <input type="text" class="form-control" placeholder="Usługa, np. pierwsza wizyta, sesja dla par" aria-label="Usługa"> </div> <div class="input-group col pl-0 pr-0" style="flex-grow: 6"> <div class="input-group-prepend"> <span class="input-group-text">Cena</span> </div> <input type="text" class="form-control" placeholder="Cena" aria-label="Cena"> <div class="input-group-append"> <span class="input-group-text">zł</span> </div> </div> <div class="input-group col pl-0"> <button type="button" class="btn btn-danger input-group-text removeBtn">Usuń</button> </div> </div>');
    });
    $("#pricing").on("click", ".removeBtn", function() {
        $(this).parents('.pricingRow').remove();
    });
    function surnameError() {

    }
</script>
<script th:src="@{/js/bootstrap.bundle.min.js}" crossorigin="anonymous"></script>
</body>
</html>