<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" crossorigin="anonymous" />
    <title>Utwórz ogłoszenie</title>
</head>
<body>
<nav class="navbar navbar-dark bg-success">
    <a class="navbar-brand">Terapia</a>
    <a th:href="@{/logout}" class="btn btn-success btn-outline-light text-light bg-success">Wyloguj</a>
</nav>
<div class="card w-50 mx-auto">
    <div class="card-body">
        <div class="col">
            <h5 class="card-title mb-4">Dodaj ogłoszenie</h5>
            <div class="row mb-2">
                <div class="input-group col pr-0">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Imię</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Twoje imię" aria-label="Imię">
                </div>
                <div class="input-group col pl-0">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Nazwisko</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Twoje nazwisko" aria-label="Nazwisko">
                </div>
            </div>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text">Adres</span>
                </div>
                <input type="text" class="form-control" placeholder="Adres gabinetu" aria-label="Adres gabinetu">
            </div>
            <div class="row">
                <button th:href="@{/}" class="btn btn-success ml-auto mr-3">Dodaj ogłoszenie</button>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/jquery-3.5.1.slim.min.js}" crossorigin="anonymous"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}" crossorigin="anonymous"></script>
</body>
</html>