<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" crossorigin="anonymous" />
    <title>Therapy</title>
</head>
<body>
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a th:href="@{/boring}" class="card-link">Boring link</a>
        <a th:href="@{/}" class="card-link">Home link</a>
    </div>
</div>
<script th:src="@{/js/jquery-3.5.0.slim.min.js}" crossorigin="anonymous"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}" crossorigin="anonymous"></script>
</body>
</html>