<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" crossorigin="anonymous" />
    <title>Therapy</title>
</head>
<body>
<nav class="navbar navbar-dark bg-success">
    <a class="navbar-brand">Terapia</a>
    <a th:href="@{/logout}" class="btn btn-success btn-outline-light text-light bg-success">Wyloguj</a>
</nav>
<div id="sampleCard" class="card collapse show" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a th:href="@{/boring}" class="card-link">Boring link</a>
        <a th:href="@{/}" class="card-link">Home link</a>
    </div>
</div>
<div th:each="ad, iter: ${ads}">
    <div class="card w-50 ml-3">
        <div class="card-body">
        <h5 class="card-title">Ogłoszenie nr <span th:text="${iter.index}"></span></h5>
            <a class="card-link" th:href="@{/ads/{ad_id}(ad_id=${iter.index})}">Zobacz szczegóły</a>
            <p></p>
        </div>
    </div>
</div>
<div id="cookies" class="card fixed-bottom bg-secondary ml-auto collapse show" style="width: 37rem;">
    <div class="card-body">
        <div class="d-flex flex-column">
            <div>
                <h5 class="card-title">Ciasteczka</h5>
            </div>
            <div class="d-flex flex-row">
                <div class="d-flex align-items-center">
                    <div th:text="${cookies_text}">Cookies text</div>
                </div>
                <button class="btn btn-success ml-4" type="button" data-toggle="collapse" data-target="#cookies">Rozumiem</button>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/jquery-3.5.1.slim.min.js}" crossorigin="anonymous"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}" crossorigin="anonymous"></script>
</body>
</html>